@font-face {
  font-family: 'Fasthand';
  font-style: normal;
  font-weight: 400;
  src: local('Fasthand'), local('Fasthand-Regular'), url(fasthand-latin-latin-ext-6XAagHH_KmpZL67w.ttf) format('truetype');
}
