@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(varela-round-latin-latin-ext-APH4jr0uSos5wiut.ttf) format('truetype');
}
