@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(varela-round-all-w8gdH283Tvk__Lua.ttf) format('truetype');
}
